*{
  color:maroon;
}
body{
  background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRD9XKXk_hJTDe4N907IxJuf81BThbFYMv8oI5Rb2XlK1-5nKF3MQ");
  background-size:cover;
  background-repeat: no-repeat;
  font-size: large;
}
.container{
  border:2px solid black;
  padding:25px;
  align-self: center;
  text-align: center;
  background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTQqDuEXaFl_rGei_pUxC2LBQoZ_IzrwkVxmfHtwOT38dsUWfjJ_w");
  margin-top: 12%;
  margin-left: 30%;
  margin-right:30%;
}
